* {
	margin: 0;
	padding: 0;
}
body {
	background-color: $white;
	color: $darkgray;
	font-family: "Trebuchet MS", "Lucida Grande", "lucida sans unicode", sans-serif;
}
.wrapper {
	max-width: 55em;
	min-height: 60em;
	margin: 0 auto;
	padding: 0 1.5625em;
	background-color: $beige;
	box-sizing: border-box;
}
.alert {
	color: $warning;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
