.portfoliolist {
	header {
		border-bottom: $divider solid $darkblue;
		padding: 2*$padding 0;

		h1 {
			font-family: 'Bangers', cursive;
			font-size: 2.0em;
			text-align: center;
			padding-top: $padding/2;

			@media only screen and (min-width: $break2) {
				font-size: 3em;
			}
		}
		h2 {
			font-size: 1em;
			text-align: center;
		}
	}
	aside {
		padding-bottom: $padding;
		border-bottom: $divider solid $darkblue;
		position: relative;

		@media only screen and (min-width: $break4) {
			form {
				float: left;
			}
		}
		label {
			float: left;
			margin: $margin $margin $margin 0;
			padding: $padding 0;
		}
		input[type=number] {
			float: left;
			font-size: inherit;
			color: inherit;
			width: 4em;
			line-height: 2em;
			margin: $margin 0;

			@media only screen and (min-width: $break2) {
				margin: $margin $margin $margin 0;
			}
		}
		input[type=number]:focus {
			outline-color: $darkblue;
			outline-width: 0.4em;
		}
		.btn {
			font-size: inherit;
			color: inherit;
			width: 9em;
			line-height: 2em;
			border-radius: 0.5em;
			background: linear-gradient(to bottom,$darkblue 0%,$lightblue 100%);
		}
		input[type=submit] {
			float: left;
			clear: left;
			margin: 0 0 $margin;

			@media only screen and (min-width: $break2) {
				clear: none;
				margin: $margin 0;
			}
			@media only screen and (min-width: $break4) {
				margin: $margin $margin/2 $margin 0;
			}
		}
		button {
			float: left;
			clear: left;
			margin: 0 0 $margin;

			@media only screen and (min-width: $break2) {
				clear: none;
				margin: 0 $margin/2 $margin 0;

				&:nth-child(3) {
					clear: left;
				}
			}
			@media only screen and (min-width: $break4) {
				margin: $margin $margin/2 $margin 0;

				&:nth-child(3) {
					clear: none;
				}
			}
		}
		button:disabled, input[type=submit]:disabled {
			opacity: 0.5;
		}
		a {
			font-size: inherit;
			color: inherit;
			text-decoration: none;
			cursor: default;
		}
		p {
			padding: $padding 0;
			clear: both;
		}

		@media only screen and (min-width: $break3) {
			.panel.ng-enter {
				animation: slideInRight 0.7s both ease-in; 
			}
			.panel.ng-leave {
				animation: scaleDown 0.5s both ease-in;
			}
		}		
	}
	main {
		padding: $padding 0;

		@media only screen and (min-width: $break3) {
			.panel.ng-hide {
				animation: slideOutRight 0.7s both ease-in; 
			}
		}
	}
	.panel {

		@media only screen and (min-width: $break1) {		
			float: left;
		}
	}
	.panel-body {
		margin-right: auto;
		margin-left: auto;

		@media only screen and (min-width: $break1) {
			margin: 0.3125em 0.1875em;
		}
	}
	@keyframes slideInRight {
		from { transform: translateX(1000%); }
		to   { transform: translateX(0); }
	}
	@keyframes scaleDown {
		to { transform: scale(0.5); opacity: 0; }
	}
	@keyframes slideOutRight {
		from { transform: translateX(0); }
		to   { transform: translateX(1000%); }
	}
}
