.portfoliolist {
	header {
		border-bottom: $divider solid $darkblue;
		padding: 2*$padding 0;

		h1 {
			font-family: 'Bangers', cursive;
			font-size: 2.0em;
			text-align: center;
			padding-top: $padding/2;

			@media only screen and (min-width: $break2) {
				font-size: 3em;
			}
		}
		h2 {
			font-size: 1em;
			text-align: center;
		}
	}
	aside {
		border-bottom: $divider solid $darkblue;
		position: relative;

		p:nth-child(2) {
			float: left;
			margin: $margin $margin $margin 0;
		}
		input[type=number] {
			font-size: inherit;
			color: inherit;
			width: 4em;
			line-height: 2em;
			margin-right: $margin;
			float: left;
			margin: $margin 0;

			@media only screen and (min-width: $break2) {
				margin: $margin $margin $margin 0;
			}
		}
		input[type=number]:focus {
			outline-color: $darkblue;
			outline-width: 0.4em;
		}
		.btn {
			font-size: inherit;
			color: inherit;
			width: 5em;
			line-height: 2em;
			border-radius: 0.5em;
			background: linear-gradient(to bottom,$darkblue 0%,$lightblue 100%);
		}
		input[type=submit] {
			float: left;
			clear: left;
			margin: 0 0 $margin;

			@media only screen and (min-width: $break2) {
				clear: none;
				margin: $margin 0;
			}
		}
		input[type=submit]:disabled {
			opacity: 0.5;
		}
		button {
			float: left;
			margin: 0 0 $margin;

			@media only screen and (min-width: $break2) {
				margin: $margin 0;
			}
		}
		button:nth-child(3) {
			margin: 0 $margin/2 $margin;

			@media only screen and (min-width: $break2) {
				margin: $margin $margin/2;
			}
		}
		p {
			padding: $padding 0;
			clear: both;
		}
	}
	main {
		padding: $padding 0;
	}
	.panel {
		float: left;

		.panel-heading {
			font-size: 1.1em;
			text-align: center;
		}
		.panel-body {
			width: 160px;
			height: 160px;
			background: $lightblue url(images/frame-ls.gif) no-repeat center;
			margin: 5px 3px;

			img {
				border: 1px solid #444;
				border-color: #444 #aaa #aaa #444;
			}
		}
		&.pt .panel-body {
			background-image: url(images/frame-pt.gif);
		}
		&.ls img {
			margin: 29px 15px; 
		}
		&.pt img {
			margin: 15px 29px;
		}
	}
	@media only screen and (min-width: $break3) {
		aside .panel.ng-enter {
			animation: slideInRight 0.7s both ease-in; 
		}
		@keyframes slideInRight {
			from  { transform: translateX(1000%); }
			to    { transform: translateX(0); }
		}
		main .panel.ng-hide {
			animation: slideOutRight 0.7s both ease-in;
		}
		@keyframes slideOutRight {
			from  { transform: translateX(0); }
			to    { transform: translateX(1000%); }
		}			
	}
}

