/* Colors */
$darkgreen: #360;
$grassgreen: #5C8533;
$white: #fff;
$black: #000;
$lightgray: #e2e2e5;
$gray: #999;
$darkgray: #30302e;
$lightblue: #9cf;
$darkblue: #174573;
$beige: #eed;
$warning: #F93;
$orange: #FC0;

/* Breakpoints */
/* 399px */
$break1: 24.9375em;
/* 565px */
$break2: 35.3125em;
/* 731px */
$break3: 45.6875em;
/* 897px */
$break4: 55.0625em;

/* Padding, Border, Margins, ... */
$padding: 0.5em;
$border: 0.1em;
$margin: 1em;
$radius: 0.5em;
$divider: 0.25em;
