<div class="wrapper clear">
	<div class="portfoliolist">
		<header>	
			<h2>Pick your favorite photos taken in</h2>
			<h1>Newport, New Jersey</h1>
		</header>
		<aside>
			<div class="alert" ng-show="add_favorite_error_msg" ng-bind="add_favorite_error_msg"></div>
			<form ng-submit="addFavorite(favorite)" name="favorite_form" novalidate>
				<fieldset>
					<legend>Enter a photo id (1 to {{portfolios.length}})</legend>
					<div class="fields">
						<div class="row">
							<label for="f-id">Id</label> 
							<input type="number" id="f-id" name="id" ng-model="favorite.id" min="1" max="{{portfolios.length}}" required />
							<input type="submit" value="Add Favorite" ng-disabled="favorite_form.$invalid" />
						</div>
					</div>
				</fieldset>
			</form>
			<h3>Your favorites:</h3>
			<article class="panel" ng-repeat="portfolio in favorites" ng-class="getOrientation(portfolio.id)">
				<div class="panel-heading"> 
					<span class="id">#{{portfolio.id}}</span>
				</div>
				<div class="panel-body">
					<a href="index.html#/portfolio/{{portfolio.id}}"><img ng-src="images/{{portfolio.imageurl}}" alt="{{portfolio.title}}" /></a>
				</div>
			</article>
			<p>You have picked {{favorites.length}} photos so far!</p>
		</aside>
		<main>
			<article class="panel" ng-repeat="portfolio in portfolios" ng-show="getShowStatus(portfolio.id)" ng-class="getOrientation(portfolio.id)">
				<div class="panel-heading"> 
					<span class="id">#{{portfolio.id}}</span>
				</div>
				<div class="panel-body">
					<a href="index.html#/portfolio/{{portfolio.id}}"><img ng-src="images/{{portfolio.imageurl}}" alt="{{portfolio.title}}" /></a>
				</div>
			</article>
		</main>
	</div>
</div>	